@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  background: radial-gradient(#c4a484, #5a4e42 80%);
}

body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4rem;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: grid;
  place-items: center;
  background-color: bg-skyBlue-300;
  background-image: linear-gradient(0deg, #63d2f8 0%, #aeeafc 74%);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.loading-screen--hidden {
  animation: fade-out 0.5s ease-in-out forwards 1s;
}
main,
.pagination,
.animated-texts {
  z-index: 10;
}
.loading-screen__logo {
  width: 250px;
  height: 250px;
  margin-bottom: 5rem;
  margin: auto;
  border-radius: 50%;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.85;
  }
}

.loading-screen__title {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #1a202c;
  margin-top: 1.3rem;
  text-align: center;
}

.progress__container {
  width: 100%;
  max-width: 300px;
  height: 1rem;
  background-color: rgb(102 106 113 / 40%);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-top: 2rem;
  margin: auto;
}

.progress__bar {
  width: 0;
  height: 100%;
  background-color: #1a202c;
  transition: width 0.3s ease-in-out;
}
.progress__indicator {
  text-align: center;
}

/* 📱 Media query para móviles */
@media (max-width: 480px) {
  .loading-screen {
    padding: 2rem;
  }

  .loading-screen__title {
    font-size: 2rem;
  }

  .progress__container {
    height: 0.75rem;
  }
}
